.header {
    width: 1184px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 0;
    background-color: var(--background);
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 20px;
    font-weight: 500;
    letter-spacing: -2%;
    line-height: 24px;
    color: #121417;
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
}

.nav a {
    color: #121417;
    text-decoration: none;
    transition: color 250ms ease;
}
.nav a:hover,
.nav a:focus {
    color: var(--accent-dark)
}


.auth {
    display: flex;
    align-items: center;
    gap: 16px;
    
}

.loginButton {
    display: flex;
    align-items: center;
    gap: 8px;

    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.registrationButton {
    padding: 14px 39px;
    border: none;
    border-radius: 12px;
    background: #121417;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size:16px;
    line-height: 20px;
    transition: background-color 250ms ease;
}
.registrationButton:hover,
.registrationButton:focus{
    background-color: var(--text-secondary);
}
.buttonLogOut{
padding: 14px 39px;
    border: none;
    border-radius: 12px;
    background: #121417;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    transition: background-color 250ms ease;
}
.buttonLogOut:hover,
.buttonLogOut:focus{
    background-color: var(--text-secondary);
}

.linkFavorites{
    color: var(--text-primary);
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        transition: color 250ms ease;
}
.linkFavorites:hover,
.linkFavorites:focus{
    color:var(--accent-dark)
}