.teachersPage{
    background-color: var(--surface);
}
.container{
width: 100%;
    max-width: 1184px;
    margin: 0 auto;
}

.teachersPage {
    min-height: 100vh;
    padding: 96px 0;
    background-color: #f8f8f8;
}

.container {
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
}

.teachersList {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.buttonLoadMore{
    display: block;
    background-color: var(--accent-dark);
    padding: 16px 48px;
    width: 183px;
    height: 60px;
    border:none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    margin:64px auto;
   cursor: pointer;
   transition: background-color 250ms ease;
}
.buttonLoadMore:hover,
.buttonLoadMore:focus{
    background-color: var(--accent);

}