
  :root {
      --accent: #FBE9BA;
      --accent-dark: rgba(244, 197, 80, 1);
  
      --text-primary: #121417;
      --text-secondary: rgba(18, 20, 23, 0.7);
  
      --background: #ffffff;
      --surface: #F8F8F8;
  
    }
        body {
          margin: 0;
          font-family: var(--font-roboto), sans-serif;
        }
                button,
                input,
                select,
                textarea {
                  font: inherit;
                }
